@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@900&family=Staatliches&display=swap');
* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

:root {
    --background-color: rgb(39, 39, 39);
    --navbar-color: rgb(29, 29, 29);
    /* --background-color: rgb(245, 245, 245); */
    --shadow-color: rgba(34, 34, 34, 0.3);
    --grayscale-color: rgb(90, 90, 90);
    --grayscale-text-color: rgb(129, 129, 129);
    --text-color: rgba(255, 255, 255, 1);
    --hover-color: rgb(102, 231, 98);
    --accent-color: rgb(41, 207, 0);
    --secondary-accent-color: rgb(41, 207, 0);
    --theme-switcher-rotation: 0deg;
    --logo-brightness: 100%;
}

[data-theme="light"] {
    --background-color: rgb(255, 255, 255);
    --navbar-color: rgb(38, 175, 7);
    --accent-color: rgb(255, 255, 255);
    --grayscale-color: rgb(153, 153, 153);
    --grayscale-text-color: rgb(238, 238, 238);
    --secondary-accent-color: rgb(38, 175, 7);
    --hover-color: rgb(255, 255, 255);
    --shadow-color: rgba(211, 211, 211, 0.3);
    --text-color: rgba(0, 0, 0, 1);
    --logo-brightness: 0%;
}

body {
    overflow: overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    transition: 0.3s;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.userspace {
    width: 75%;
}


/* NAVIGATION */

.navbar {
    padding: 0 0 0;
    position: fixed;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    width: 100%;
    z-index: 2;
    height: 5em;
    background: var(--navbar-color);
    box-shadow: 0 1em 1em var(--navbar-color);
}

.logo {
    user-select: none;
    height: 5em;
    width: 5em;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 4.5em;
    image-rendering: crisp-edges;
    transition: 0.3s;
}

.logo:hover img {
    transform: rotate(180deg);
    filter: brightness(110%);
    transition: 0.3s;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-links {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-links li {
    font-size: 1.2em;
    user-select: none;
    margin: 0 0.5em;
    transition: 0.3s;
    color: var(--text-color);
}

.navbar-links a {
    user-select: none;
    text-decoration: none;
    transition: 0.3s;
    color: var(--text-color);
}

.navbar-links a:hover {
    user-select: none;
    transition: 0.3s;
    color: var(--hover-color);
}

.navbar-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-right: 1em;
    margin-left: 1em;
    flex-direction: row;
}

.navbar-theme-switcher,
.navbar-language {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
}

.navbar-theme-switcher img,
.navbar-language img {
    user-select: none;
    border-radius: 50%;
    transition: 0.3s;
    height: 101%;
}

.navbar-theme-switcher img {
    transform: rotate(var(--theme-switcher-rotation));
}

.navbar-theme-switcher img:hover {
    filter: invert(100%);
    transform: rotate(var(--theme-switcher-rotation));
    transition: 0.3s;
}


/* SITE */

.page-body {
    display: flex;
    justify-content: center;
}

.page-body-darker {
    display: flex;
    background-color: rgba(10, 10, 10, 0.1);
    justify-content: center;
}

.content {
    overflow: visible;
    overflow-y: auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 20em);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--navbar-color);
    border-radius: 2px;
    opacity: 30%;
    transition: 0.2s;
}


/* HOMEPAGE */

.content-home {
    color: var(--text-color);
    padding: 5em 0 0 0;
    height: 90vh;
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
    flex-direction: row;
}

.greeting {
    width: 58%;
    height: 60vh;
    user-select: none;
    font-size: 2em;
    display: flex;
    transition: 0.3s;
    padding-left: 5%;
    justify-content: center;
    flex-direction: column;
}

.greeting span {
    transition: 0.3s;
    font-size: 1em;
    color: var(--secondary-accent-color);
}

.greeting span:hover {
    transition: 0.3s;
    font-size: 0.9em;
    transform: rotate(40deg);
    color: var(--text-color);
}

.phone-picture {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 60vh;
}

.phone-frame {
    width: 220px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: var(--navbar-color);
    display: flex;
}

.phone-screen {
    width: 200px;
    height: 380px;
    background-color: var(--grayscale-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-screen h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 8em;
    color: var(--accent-color);
}


/* ABOUTME */

.content-aboutme {
    color: var(--text-color);
    padding: 5em 0 0 0;
    height: 90vh;
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
    flex-direction: row;
}

.aboutme-icons {
    padding-left: 5%;
    width: 35%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutme-icons-book,
.aboutme-icons-note {
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.aboutme-icons-pad {
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.aboutme-icon {
    height: 19vh;
}

.aboutme-icon:hover {
    transform: rotate(12deg);
    filter: brightness(110%);
}

.aboutme-icon-2 {
    height: 19vh;
}

.aboutme-icon-2:hover {
    transform: rotate(-12deg);
    filter: brightness(110%);
}

.aboutme-text {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 60vh;
}

.aboutme-text h2 {
    color: var(--secondary-accent-color);
}

.aboutme-text span {
    user-select: none;
    transition: 0.3s;
    font-size: 1em;
    color: var(--secondary-accent-color);
}

.aboutme-text span:hover {
    transition: 0.3s;
    font-size: 0.9em;
    color: var(--text-color);
}


/* EXPERIENCE */

.content-experience {
    color: var(--text-color);
    padding: 5em 0 0 0;
    height: 90vh;
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
    flex-direction: row;
}

.experience-description {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
    width: 35%;
    height: 70vh
}

.experience-skillcard {
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
}

.experience-skillcharts {
    height: 50%;
    width: 100%;
}

.experience-skillchart {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.experience-progressbar-main {
    margin-top: 5px;
    height: 3px;
    width: 100%;
    background-color: var(--grayscale-color);
}

.experience-progressbar-bar {
    height: 3px;
    width: var(--progress);
    background-color: var(--secondary-accent-color);
}

.experience-jobs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

.experience-jobs-job {
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    width: 48% !important;
    background-color: var(--navbar-color);
}

.experience-jobs-job h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

.experience-jobs-job h3 {
    color: var(--grayscale-text-color);
}

.experience-jobs-job h4 {
    color: var(--grayscale-text-color);
    margin-bottom: 10px;
}

.experience-jobs-job p {
    color: var(--grayscale-text-color);
}

.experience-description h2 {
    color: var(--secondary-accent-color);
}

.experience-description span {
    user-select: none;
    transition: 0.3s;
    font-size: 1em;
    color: var(--secondary-accent-color);
}

.experience-description span:hover {
    transition: 0.3s;
    font-size: 0.9em;
    color: var(--text-color);
}


/* PROJECTS */


/* CONTACT */

.content-contact {
    color: var(--text-color);
    padding: 5em 0 0 0;
    height: 90vh;
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
    flex-direction: row;
}

.contact-icons {
    padding-left: 5%;
    width: 35%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-icons-person {
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contact-icons-mail {
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact-icon {
    height: 17vh;
}

.contact-icon:hover {
    transform: rotate(12deg);
    filter: brightness(110%);
}

.contact-icon-2 {
    height: 19vh;
}

.contact-icon-2:hover {
    transform: rotate(-12deg);
    filter: brightness(110%);
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    width: 55%;
    height: 60vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contact-form-container h2 {
    color: var(--secondary-accent-color);
}

.contact-form-container span {
    user-select: none;
    transition: 0.3s;
    font-size: 1em;
    color: var(--secondary-accent-color);
}

.contact-form-container span:hover {
    transition: 0.3s;
    font-size: 0.9em;
    color: var(--text-color);
}

.contact-form input {
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    padding: 0 0 0 0.1em;
    border-bottom: 2px solid var(--secondary-accent-color);
    height: 2em;
    color: var(--text-color);
}

.contact-form input:focus {
    border-bottom: 2px solid var(--hover-color);
}

.contact-form textarea {
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.1);
    resize: none;
    border: none;
    outline: none;
    padding: 0 0 0 0.1em;
    border-bottom: 2px solid var(--secondary-accent-color);
    height: 8em;
    color: var(--text-color);
}

.contact-form textarea:focus {
    border-bottom: 2px solid var(--hover-color);
}

.contact-form input[type="submit"]:hover {
    background-color: rgba(80, 80, 80, 0.1);
}

.contact-form input[type="submit"] {
    margin: 1em 0 0 0;
}

.contact-form label {
    font-size: 0.7em;
    margin: 0.8em 0 0 0;
}


/* The alert message box */

.alert-red {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    min-width: 200px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert-green {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    min-width: 200px;
    background-color: #00c020;
    /* Red */
    color: white;
    margin-bottom: 15px;
}


/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}


/* FOOTER */

.footer {
    padding: 0 0 2em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8em;
    transition: 0.3s;
    background: var(--navbar-color);
    box-shadow: 0 -1em 1em var(--navbar-color);
}

.footer-columns {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.copyright,
.footer-links,
.credits {
    margin-top: 2em;
    transition: 0.3s;
    color: var(--text-color);
    font-size: 0.7em;
    width: 25%;
    max-height: 100%;
}

.footer ul {
    list-style: none;
}

.footer a {
    color: var(--text-color);
    transition: 0.3s;
}

.footer p {
    color: var(--text-color);
    transition: 0.3s;
}

.footer h2 {
    color: var(--accent-color);
    margin-bottom: 0.5em;
    transition: 0.3s;
}